<div class="profile">
  
  <img *ngIf="data?.photoURL; else defaultPhoto" [src]="data.photoURL" alt="Foto de perfil" class="profile-photo" />

  
  <ng-template #defaultPhoto>
    <img [src]="defaultPhotoURL" alt="Foto por defecto" class="profile-photo" />
  </ng-template>


  <p><strong>Nombre:</strong> {{ data?.name }}</p>
  <p><strong>Email:</strong> {{ data?.email }}</p>
  <p><strong>Phone:</strong> {{ data?.phone }}</p>
</div>
<div>
  <label for="upload-photo" class="upload-button">
    Cambiar Foto
  </label>
  <input type="file" id="upload-photo" (change)="onFileSelected($event)" hidden />
</div>
